.origins-container{
    display: grid;
}
.origins-main {
    background-color: aquamarine;
    grid-template-columns: 25% 75%;
   
    display: flex;
    flex-direction: column;
    
    margin-bottom: 100px;
    margin-top:100px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    justify-content: space-around;


    
    
    
    transform: "translate(-50%,-50%)"
}

.origin-parallax{
    display:grid;
    
    border-radius: 20px;
    grid-template-columns: 25% 1% 74%;
}

.react-parallax{
    border-radius: 20px;
}
/*
.react-parallax img{
    height:800px !important;
}
*/

.origins-side{
    
}

.origins-content{
    color: aliceblue;
}

.ori-div{
    border:2px solid white;
}

.origins-content h1{
    padding-left:40%;
}

.ori-content{
    font-size: 18px;
    line-height: 1.67;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    transition: transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s;
}

.ori-content p{
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}