.aboutus-container{
    display: grid ;
    grid-template-columns: 25% 75%;
    grid-gap:2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.aboutus-main {
    background-image: url("../../assets/aboutback.png");
    height:100vh;
    background-size:cover;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 12%;
    border-radius: 20px;
    justify-content: space-around;
}


