.aboutus-container{
    display: grid;
}

.aboutus-main {
    background-image: url("../../assets/aboutback.png");
    height:100vh;
    background-size:cover;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    justify-content: space-around;
}


