.header{
    z-index: 2;
    background-color: transparent;
    position: fixed;
}
.checkout-container{
    position: absolute;
    top: 30px;
    right: 15px;
  }

  
  .checkout-btn{
    font-size: 16px;
  }
  